body {
    margin: 0;
    padding: 40px;
    background: #252629;

    font-family: 'Merienda';
    font-size: 1.3em;
    color: #aaa;
}

#canvas-container {
    height: 640px;
}

canvas {
    display: block;
    margin: 0 auto;
}

.content {
    max-width: 640px;
    margin: 0 auto;
}

h1 {
    font-size: 2.6em;
    color: #d14836;
    text-align: center;
}

h2 {
    color: #555;
    margin-bottom: 0.4em;
}

p {
    margin: 0.5em 0;
}

key {
    text-decoration: underline;
}

td {
    width: 50%;
    vertical-align: top;
    padding-bottom: 15px;
}

a, a:visited, a:link, a:hover, a:active {
    color: white;
}

table.items-table td {
    width: auto;
    vertical-align: middle;
}

img {
    width: 64px;
    height: 64px;
    margin-right: 20px;
    image-rendering: pixelated;
}

#game-messages {
    position: relative;
    width: 640px;
    height: 0px;
    margin: 0 auto;
}

#game-condition {
    position: absolute;
    left: 20px;
    top: 505px;
    font-size: 50px;
    color: white;
}

.game-message {
    position: absolute;
    left: 0;
    right: 0;
    width: 640px;
    height: 640px;

    /* font-family: 'VT323'; */

    overflow: hidden;

    opacity: 0;
    transition: opacity 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.game__box {
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px;
    background: beige;
    border: 8px solid brown;
    color: brown;
    text-align: center;
    padding-bottom: 1em; */
}

.game__box h1 {
    font-size: 100px;
    color: white;
    text-shadow: 0 0 7px black;
}